[Interface]
Address = {{v4address}}.1/24,{{v6address}}::1/64
ListenPort = {{port}}
PrivateKey = {{priv_key_server}}

[Peer]
# Client 1
PublicKey = {{public_key_client}}
AllowedIPs = {{v4address}}.2/32,{{v6address}}::2/128
