[Interface]
Address = {{v4address}}.2/24,{{v6address}}::2/64
PrivateKey = {{priv_key_client}}

[Peer]
PublicKey = {{public_key_server}}
Endpoint = {{public_ip_server}}:{{port}}
AllowedIPs = {{v4address}}.2/32,{{v6address}}::2/128
